body {
    --controls-bck-color: #ffaf00;
    --indicators-bck-color: #ffaf00;
    --controls-color: #101020;
    --controls-border-radius: 24px;
    --app-bck-color: #285267;
    --opacity-disabled: 0.35;
    --mobile-width-max: 600px;
    --avatar-list-item-width: 48px;
    --collapse-btn-border-color: rgba(255,255,255,0.8);

    background-color: var(--app-bck-color);
    color: white;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system;
    /* font-size: 5vw; */
}

*,
*::after,
*::before {
    box-sizing: border-box;
    position: relative;
}

.hidden,
.template {
    display: none !important;
}

.text-center {
    text-align: center;
}

.m-h-auto {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2 > *:not(:last-child) {
    margin-right: 2vw;
}

h2.collapse-btn {
    border-top: solid 4px var(--collapse-btn-border-color);
    border-right: solid 4px var(--collapse-btn-border-color);
    border-left: solid 4px var(--collapse-btn-border-color);
    /* border-radius: var(--controls-border-radius); */
    padding: 12px;
    margin-bottom: 0;
    /* background-color: rgba(0,0,0,0.1); */
    border-top-right-radius: var(--controls-border-radius);
    border-top-left-radius: var(--controls-border-radius);
}

h2.collapse-btn.collapsed {
    border-bottom: solid 4px var(--collapse-btn-border-color);
    border-radius: var(--controls-border-radius);
}

h2.collapse-btn + .collapse-content {
    padding: 12px;
    padding-top: 0;
    border-bottom: solid 4px var(--collapse-btn-border-color);
    border-right: solid 4px var(--collapse-btn-border-color);
    border-left: solid 4px var(--collapse-btn-border-color);

    border-bottom-right-radius: var(--controls-border-radius);
    border-bottom-left-radius: var(--controls-border-radius);
}

h2.collapse-btn.collapsed + .collapse-content {
    display: none;
}

h2.collapse-btn::after {
    position: absolute;
    top: 44%;
    right: 2vw;
    content: '>';
    transform:  translateY(-50%) rotate(90deg);
    /* font-size: 10vw; */
}

h2.collapse-btn.collapsed::after {
    transform: translateY(-50%) rotate(0deg);
}

button {
    border: none;
    padding: 12px;
    border-radius: var(--controls-border-radius);
    /* font-size: 6vw; */
    margin: 1%;
    /* color: var(--controls-color); */
    color: var(--app-bck-color);
    background-color: var(--controls-bck-color);
    appearance: none;
    font-weight: bold;
}

.disabled,
button:disabled {
    opacity: var(--opacity-disabled);
}

button:focus {
    border-width: 4px;
}

input[type="number"] {
    min-width: 30px;
    border-radius: var(--controls-border-radius);
    border: none;
    padding: 0 12px;
}

h1.logo-wrapper {
    /* color: black; */
    margin-top: 2vh;
    margin-bottom: 2vh;
}

h1.logo-wrapper > img {
    width: 20%;
    max-width: 20%;
    object-fit: fill;
}

h1.logo-wrapper::before,
h1.logo-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    z-index: 2;
    border-radius: 10px;
    height: 0.75vh;
    width: 100%;
    /* background-color: black; */
    /* border: dotted 3px white; */
    background-color: var(--app-bck-color);
}

h1.logo-wrapper::after {
    bottom: 0;
}

h1.logo-wrapper::before {
    top:0;
}

.notification-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}

.notification-wrapper > * {
    color: white;
    width: 100%;
    /* font-size: 4vw; */
    padding: 8px;
    text-align: center;
    max-width: var(--mobile-width-max);
    margin-left: auto;
    margin-right: auto;
}

.notification-wrapper > *.error {
    background-color: #ff3a3a;
}

.notification-wrapper > *.warning {
    background-color: #dea62c;
}

.notification-wrapper > *.info {
    background-color: #5fd282;
}

.view {
    width: 100%;
    max-width: var(--mobile-width-max);
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    background: rgba(0,0,0,0.05);
    padding: 0 16px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.row.space-between {
    justify-content: space-between;
}

.row.align-center {
    align-items: center;
}

.view.init .qr-code {
    width: 40%;
    max-width: 256px;
    border: solid 8px #fff;
}

.view h2 {
    text-align: center;
}

/* .view > section:not(:last-child) {
    margin-bottom: 32px;
    border-bottom: solid 1px black;
} */

.view.init {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.view.init input[type="number"] {
    width: 64px;
}

.view > section > *:first-child {
    margin-top: 16px;
}
.view > section > *:not(:last-child) {
    margin-bottom: 16px;
}

.view > section:last-child {
    padding-bottom: 16px;
}

.view.init .qr-code > img,
.view.init .qr-code > canvas {
    width: 100% !important;
}

.list.players img {
    width: var(--avatar-list-item-width);
}

.list.players > *:not(:last-child) {
    margin-bottom: 8px;
}

.view.init .list.players > .player,
.view.vote .list.players > .player,
.view.ladder .list.players > .player,
.view.game .list.players > .player {
    display: inline-flex;
    /* border: solid 4px rgba(0,0,0,0.1); */
    border-radius: 30px;
    padding: 0px 12px  0px 0px;
    background-color: rgba(0,0,0,0.05);
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* .view.init .list.players > * {
    flex-direction: column;
    justify-content: center;
    width: 24%;
    align-items: center;
    padding: 12px;
} */

.view.game .list.players > .player.offline,
.view.vote .list.players > .player.offline,
.view.ladder .list.players > .player.offline,
.view.init .list.players > .player.offline {
    opacity: var(--opacity-disabled);
}

.view.init .list.players > .player.current,
.view.ladder .list.players > .player.current,
.view.game .list.players > .player.current {
    border-color: rgba(106, 255, 69, 0.9);
}

/* VOTE */

/*
    Do not show current player
*/
.view.vote .list.players > .player.current {
    display: none;
}

.view.vote .list.players > .player {
    padding: 4px;
    border: solid transparent;
}

.view.vote .list.players > .player img {
    margin-right: 8px;
}

.view.vote .list.players > .player .list.words{
    padding: 4px;
}

.view.vote .list.players > .player.selected {
    background-color: rgba(255,0,0,0.2);
    border-color: #fff;
}

.view.vote .list.players > .player.selected::after {
    content: '';
    display:block;
    background: url(../res/icon-white.svg) no-repeat;
    width: 64px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
}

.view.vote .list.players > .player {
    align-items: flex-start;
}

.view.vote .list.players > .player .list.words > *{
    margin-right: 4px;
    padding: 4px;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.15);
}

/* LADDER */

.view.ladder .list.players > .player {
    height: var(--avatar-list-item-width);
}

.view.ladder .list.players > .player .score-indicator-bar {
    width: var(--avatar-list-item-width);
    height: 100%;
    transition-property: width;
    transition-duration: 1500ms;
    transition-timing-function: ease-out;
}

.view.ladder .list.players.no-transition > .player .score-indicator-bar {
    width: calc(var(--avatar-list-item-width) / 2) !important;
}

.view.ladder .list.players > .player .score-indicator-bar > .bar {
    background-color: var(--indicators-bck-color);
    width: 100%;
    height: inherit;
    /* border-radius: 30px; */
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    opacity: 0.4;
}

.view.ladder .list.players > .player.current .score-indicator-bar > .bar {
    opacity: 1;
}

.view.ladder .list.players > .player .score-indicator-bar > .head {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%);
}

.view.ladder .list.players > .player .score-indicator-bar > img.head {
    border: double 4px #fff;
    border-radius: 50%;
}

/* INIT */

.view.init input.name {
    /* font-size: 6vw; */
    border-radius: var(--controls-border-radius);
    border: none;
    padding: 12px;
    text-align: center;
}

.view.init .avatars .img-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    display: inline-block;
}

.view.init .carousel.avatars {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.view.init .carousel.avatars .content {
    width: 30%;
    margin: 0 6vw;
}

.view.init .carousel.avatars button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: bold;
}

.view.init .carousel.avatars .content .img-wrapper {
    display: none;
}

.view.init .carousel.avatars .content .img-wrapper.selected {
    display: block;
}

.view.init .list.avatars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}

.view.init .list.avatars .img-wrapper {
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.view.init .list.avatars .img-wrapper.selected::after{
    --selection-offset: 8px;
    --selection-border-thickness: 4px;
    content: '';
    width: calc(100% + 2 * var(--selection-offset));
    height: calc(100% + 2 * var(--selection-offset));
    z-index: 2;
    border-radius: 50%;
    border: solid var(--selection-border-thickness) rgba(106, 255, 69, 0.9);
    position: absolute;
    top: calc(-1 * var(--selection-offset));
    left: calc(-1 * var(--selection-offset));
}

/* MISC */

.typing-animation > * {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #032257;
    display: inline-block;
    animation: opacity-2 infinite;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

.typing-animation > *:first-child {
    animation-name: opacity-1;
}

.typing-animation > *:last-child {
    animation-name: opacity-3;
}

@keyframes opacity-1 {
    0% {opacity: 0;}
    100% {opacity: 0.5;}
}

@keyframes opacity-2 {
    0% {opacity: 0.25;}
    50% {opacity: 0.75;}
    100% {opacity: 0.25;}
}

@keyframes opacity-3 {
    0% {opacity: 0.5;}
    50% {opacity: 0.75;}
    100% {opacity: 0.5;}
}
